@import "../../Assets/Sass/Veriables.scss";

.profil {
    width: 100%;
    display: flex;

    &__left {
        width: 300px;
    }

    &__right {
        padding-top: 150px;
        display: flex;
        flex-grow: 1;
        padding-bottom: 1rem;

        &__container {
            width: 95%;
            margin: 0 auto;
            &__info{
                box-shadow: 0 0 4px #afaeae;
                width: 400px;
                height: 265px;
                padding: 1rem;
                border-radius: .5rem;
            }
        }
    }
}