@import "../../Assets/Sass/Veriables.scss";

.profil {
    width: 100%;
    display: flex;

    &__left {
        width: 300px;
    }

    &__right {
        padding-top: 150px;
        display: flex;
        flex-grow: 1;
        padding-bottom: 1rem;

        &__container {
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &__info {
                box-shadow: 0 0 4px #00000070;
                width: 400px;
                height: 265px;
                padding: 1rem;
                border-radius: .5rem;

                &__details {
                    display: flex;
                    justify-content: space-between;

                    &__name {
                        b {
                            font-size: 24px;
                            font-weight: 500;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 500;

                            &:last-child {
                                color: #4D4AEA;
                                font-size: 20px;
                            }
                        }

                        span {
                            color: #1B1F54;
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }

                    &__btn {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: column;

                        button {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 2px solid #FFC600;
                            color: #FFC600;

                            &:first-child {
                                border: 2px solid #4D4AEA;
                                color: #4D4AEA;
                            }

                            &:last-child {
                                border: 2px solid red;
                                color: red;
                            }
                        }
                    }
                }

                &__btn {
                    margin-top: 1rem;
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        border: transparent;
                        background-color: transparent;
                        border-radius: .5rem;
                        padding: .5rem 1rem;
                        font-size: 1.1rem;
                        font-weight: 600;

                        &:first-child {
                            border: 2px solid #4D4AEA;
                            color: #4D4AEA;
                        }

                        &:last-child {
                            border: 2px solid $blue;
                            color: $blue;

                        }
                    }
                }
            }

            &__izox {
                box-shadow: 0 0 4px #00000070;
                border-radius: .5rem;
                padding: 1rem;
            }
            &__table{
                box-shadow: 0 0 4px #00000070;
                width: 100%;
                margin-top: 2rem;
                border-radius: .5rem;
            }
        }
    }
}