@import '../../../../Assets/Sass/Veriables.scss';

.intro {
    width: 100%;
    display: flex;

    &__left {
        width: 300px;
    }

    &__right {
        padding-top: 110px;
        display: flex;
        flex-grow: 1;
        padding-bottom: 1rem;

        &__container {
            width: 90%;
            margin: 0 auto;

            .jcsb {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-left: 2rem;
            }

            &__items {
                margin-top: 30px;
                width: 49%;
                height: 385px;
                border-radius: $radius;
                box-shadow: 0px 0px 4px $blue;
                background-color: $white;
                padding: 1rem;

                &__title {
                    color: $black;
                    font-weight: 700;
                }

                &__text {
                    color: $blue;
                    font-weight: 500;
                    padding: .4rem 0;
                }

                &__date {
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: .1rem 0 1rem 0;

                    .select {
                        display: flex;
                        align-items: center;

                        select {
                            appearance: none;
                            padding: .2rem 1.4rem;
                            border: 1px solid $blue;
                            cursor: pointer;
                            color: $blue;
                            border-radius: $radius;
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }
                }

                &__chart {
                    display: flex;

                    .piechart {
                        box-shadow: 0px 0px 4px $blue;
                        border-radius: 100%;
                    }

                    .list {
                        margin: 1rem 0 0 2rem;

                        &__item {
                            display: flex;
                            align-items: center;

                            p {
                                margin: 0;
                                padding: 0;
                                width: .5rem;
                                height: .5rem;
                                border-radius: 100%;
                            }

                            &__text {
                                color: $black;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {

    .intro {
        &__right {

            &__container {
                .jcsb {
                    justify-content: space-evenly;
                }

                &__items {
                    width: 47%;
                    height: 370px;

                    &__title {
                        font-weight: 600;
                    }

                    &__text {
                        padding: .3rem 0;
                    }

                    &__date {
                        width: 160px;
                        padding: .1rem 0 .5rem 0;

                        .select {
                            select {
                                padding: .2rem 1rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1360px) {
    .intro {
        &__right {
            &__container {
                &__items {
                    width: 45%;
                    height: 360px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .intro {
        &__right {
            text-align: center;

            &__container {
                &__items {
                    width: 43%;
                    height: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    &__date {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    &__chart {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}