@import '../../../../Assets/Sass/Veriables.scss';

.language {
    .select {
        appearance: none;
        padding: .35rem 1.4rem;
        border: 1px solid $blue;
        cursor: pointer;
        color: $blue;
        border-radius: $radius;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1300px) {
    .language {
        .select {
            font-size: 1rem;
            padding: .3rem 1.2rem;
        }
    }
}