@import "../../../Assets/Sass/Veriables.scss";

.header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;

    &__leftbar {
        width: 300px;
        min-height: 100vh;
        box-shadow: 1px 1px 4px $blue;
        background-color: $white;

        &__nav {
            margin-left: 3rem;

            &__img {
                padding: 2rem .5rem 2.5rem;
            }

            &__list {
                margin-top: 5rem;
                height: 500px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                &__item {
                    border-radius: 12px 0px 0px 12px;
                    position: relative;
                    display: flex;

                    span {
                        padding: .5rem 1rem;
                        font-size: 1.5rem;
                        color: $blue;
                        font-weight: 500;
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: .7rem;
                        }

                    }

                    .dropdown {
                        width: 0px;
                        position: absolute;
                        top: -38px;
                        right: 0;
                        transition: 1s all ease;
                        box-shadow: 1px 1px 4px $blue;

                        &__item {

                            a {
                                transition: 1s all ease;
                                color: transparent;
                                padding: 1rem;
                                font-size: 1.5rem;
                                font-weight: 500;
                                display: flex;
                                align-items: center;

                                font: {
                                    size: 1.2rem;
                                    weight: 600;
                                }
                            }

                            border-radius: $radius;

                            &:nth-child(1) {
                                border-radius: $radius $radius 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 $radius 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__topbar {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 110px;
        box-shadow: 1px 1px 4px $blue;
        background-color: $white;

        &__container {
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            &__rate{
                display: flex;
                align-items: center;
                .arrow{
                    margin: 0 .5rem;
                    i{
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
                &__items{
                    background-color: #eee;
                    display: flex;
                    align-items: center;
                    border-radius: 1rem;
                    border: 1px solid $blue;
                    b{
                        width: 9rem;
                        padding: 0;
                        margin: 0;
                        font-size: 1.5rem;
                        text-align: end;
                        padding: 0 .5rem;
                    }
                    span{
                        height: 40px;
                        width: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-left: 1px solid $blue;
                    }
                }
            }

            &__right {
                width: 370px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__icon {
                    background-color: transparent;
                    border: none;
                    color: $blue;
                    font-size: 1.6rem;
                    font-weight: 500;
                    position: relative;

                    &__counter {
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        top: .5rem;
                        left: .7rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        background-color: red;
                        border-radius: 100%;
                        font-size: .8rem;
                    }

                    &:hover {
                        color: $blue;
                    }
                }

                &__notification {
                    position: relative;
                    
                    &__list {
                        background-color: $white;
                        position: absolute;
                        width: 370px;
                        height: 500px;
                        top: 4.7rem;
                        transform: translateX(155%);
                        transition: $transition;
                        border-radius: 0 0 0 $radius;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &__info {
                            margin-top: 50px;
                            width: 85%;
                            height: 420px;
                            overflow-y: scroll;
                            border: 1px solid $blue;
                            border-radius: 0 0 1rem 1rem;
                            padding: 0 .5rem;

                            &__item {
                                margin-top: .5rem;
                                border-bottom: 1px solid $blue;

                                .cmc {
                                    display: flex;
                                    align-items: center;

                                    &__b {
                                        font: {
                                            size: 1.5rem;
                                            weight: 500;
                                        }
                                    }

                                    &__span {
                                        padding: .5rem;

                                        &__title {
                                            margin: 0;
                                            color: $blue;
                                            font-size: 1.1rem;
                                        }

                                        &__text {
                                            padding: 0;
                                            margin: 0;
                                            font-size: .8rem;
                                        }
                                    }
                                }
                            }
                        }

                        &__btn {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            height: 50px;
                            box-shadow: 1px 1px 4px $blue;
                            display: flex;
                            align-items: center;

                            span {
                                cursor: pointer;
                                margin-left: .5rem;

                                i {
                                    font-size: 1.5rem;
                                    padding: 0 .4rem;

                                    &::before {
                                        font-weight: 700 !important;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

}

.active {
    position: relative;
    background-color: $blue;
    box-shadow: 0px 0px 8px $blue;

    span {
        color: #fff;
    }

    &::before {
        content: "1";
        position: absolute;
        top: -1rem;
        right: -.4px;
        width: 1rem;
        color: $blue;
        background-color: $blue;
        mask: radial-gradient(1rem at 0 0, #0000 95%, #000);
    }

    &::after {
        content: "1";
        position: absolute;
        bottom: -1rem;
        right: -.4px;
        width: 1rem;
        color: $blue;
        background-color: $blue;
        mask: radial-gradient(1rem at 0 100%, #0000 95%, #000);
    }
}

.open__menu {
    width: 200px !important;
    box-shadow: 0px 0px 8px $blue;
    border-radius: $radius $radius $radius 0;
    right: -200px !important;

    a {
        color: $blue !important;
    }
}

.act-drop {
    background-color: $blue !important;
    transition: $transition;

    a {
        color: $white !important;
    }

}

.act-noti {
    transform: translateX(35%) !important;
    box-shadow: -1px 2px 4px $blue;
}