@import "../../../Assets/Sass/Veriables.scss";

.header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;

    &__left {
        width: 300px;
    }

    &__topbar {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 110px;
        box-shadow: 1px 1px 4px $blue;
        background-color: $white;

        &__container {
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            &__rate{
                display: flex;
                align-items: center;
                .arrow{
                    margin: 0 .5rem;
                    i{
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
                &__items{
                    background-color: #eee;
                    display: flex;
                    align-items: center;
                    border-radius: 1rem;
                    border: 1px solid $blue;
                    b{
                        width: 9rem;
                        padding: 0;
                        margin: 0;
                        font-size: 1.5rem;
                        text-align: end;
                        padding: 0 .5rem;
                    }
                    span{
                        height: 40px;
                        width: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-left: 1px solid $blue;
                    }
                }
            }

            &__right {
                width: 370px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__icon {
                    background-color: transparent;
                    border: none;
                    color: $blue;
                    font-size: 1.6rem;
                    font-weight: 500;
                    position: relative;

                    &__counter {
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        top: .5rem;
                        left: .7rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        background-color: red;
                        border-radius: 100%;
                        font-size: .8rem;
                    }

                    &:hover {
                        color: $blue;
                    }
                }

                &__notification {
                    position: relative;
                    
                    &__list {
                        background-color: $white;
                        position: absolute;
                        width: 370px;
                        height: 500px;
                        top: 4.7rem;
                        transform: translateX(155%);
                        transition: $transition;
                        border-radius: 0 0 0 $radius;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &__info {
                            margin-top: 50px;
                            width: 85%;
                            height: 420px;
                            overflow-y: scroll;
                            border: 1px solid $blue;
                            border-radius: 0 0 1rem 1rem;
                            padding: 0 .5rem;

                            &__item {
                                margin-top: .5rem;
                                border-bottom: 1px solid $blue;

                                .cmc {
                                    display: flex;
                                    align-items: center;

                                    &__b {
                                        font: {
                                            size: 1.5rem;
                                            weight: 500;
                                        }
                                    }

                                    &__span {
                                        padding: .5rem;

                                        &__title {
                                            margin: 0;
                                            color: $blue;
                                            font-size: 1.1rem;
                                        }

                                        &__text {
                                            padding: 0;
                                            margin: 0;
                                            font-size: .8rem;
                                        }
                                    }
                                }
                            }
                        }

                        &__btn {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            height: 50px;
                            box-shadow: 1px 1px 4px $blue;
                            display: flex;
                            align-items: center;

                            span {
                                cursor: pointer;
                                margin-left: .5rem;

                                i {
                                    font-size: 1.5rem;
                                    padding: 0 .4rem;

                                    &::before {
                                        font-weight: 700 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.act-noti {
    transform: translateX(35%) !important;
    box-shadow: -1px 2px 4px $blue;
}