@import '../../../Assets/Sass/Veriables.scss';
 
.lid {
    width: 100%;
    display: flex;

    &__left {
        width: 300px;
    }

    &__right {
        padding-top: 110px;
        display: flex;
        flex-grow: 1;
        padding-bottom: 1rem;

        &__container {
            width: 95%;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}