@import "../../Assets/Sass/Veriables.scss";

.client {
    width: 100%;
    display: flex;

    &__left {
        width: 300px;
    }

    &__right {
        padding-top: 150px;
        display: flex;
        flex-grow: 1;
        padding-bottom: 1rem;

        &__container {
            width: 95%;
            margin: 0 auto;

            &__inp {
                display: flex;
                align-items: center;
                justify-content: end;

                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-right: .5rem;
                }

                input {
                    border: 2px solid $blue;
                    border-radius: 1rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $black;
                }
            }
        }
    }
}